body {
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url('flight.jpg'); 
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: top;
    color: #ec2f0ef6;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flight-form {
    background-color: rgba(243, 240, 243, 0.971);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 400px;
}

